*.egg-info/
*.gz
*.py[cod]
.env
.idea/
.isort.cfg
.gitlab-ci.yml
.mypy_cache/
.pre-commit-config.yaml
.pytest_cache
.scannerwork/
.test/
.vscode/
/.directory
/config_demo.ini
/config_local.ini
/config_pgtest.ini
/config_test.ini
/docker/data
\.~lock.*\#
__pycache__/
build/*
dist
env/
logs/
node_modules/
pip-wheel-metadata/
research/
rest-client.env.json
venv/
yarn-error.log
~$*
celerybeat-schedule
media/*
